<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="./assets/js/home.js" defer></script>
    <script src="./assets/js/nav.js" defer></script>
    <link rel="stylesheet" href="./assets/styles/main.css" />
  </head>
  <body>
    <header class="header" id="header">
      <nav class="navbar">
        <div class="logo-container">

            <img
              src="./assets/images/Universe of scents.svg"
              alt="LOGO"
              height="150px"
              width="150px"
          /></a>
          <h1>Universe of scents</h1>
        </div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <nav class="navbar-links" id="nav">
          <ul>
            <!-- <li><a onclick="link(0)">Products</a></li>
            <li><a onclick="link(1)">About us</a></li>  -->
             <li><a href="/" >Home</a></li>
             <li><a href="/about" >About us</a></li>
            <li><a href="/login" >Login</a></li>
            <li><a href="/register" >Register</a></li>
          </ul>
        </nav>
      </nav>
    </header>
    <main>
      <section id="products" class="productWrapper"></section>
    </main>
  </body>
</html>
