@import "colors";
@import "fonts";
@import "home";
@import "nav";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color: $black;
  font-family: "Roboto", sans-serif;
  h2,
  h3,
  h4,
  h5,
  h6,
  label,
  a {
    color: $lilac;
  }
}
